h1{
    background-color:black;
    width: 1oopx;
    color: white;
    padding: 20px;
    margin: 20px;
}
p{
    background-color: white;
    width: 900px;
    color: black;
    border: 20px;
    border-style: solid;
    padding: 20px;
}