h2{
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin: 10px;
}
h2{
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin: 10px;
}
h2{
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin: 10px;
}