#top{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-span: all;
}
#last{
    margin-left: 220px;
    margin-right: 100px;
}
#para{
    margin-left: 220px;
}
#list{
    margin-left: 200px;
}
#ben{
    color: blue;
}
#step{
    color: blue;
}
#sak{
    color: purple;
}
